[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
pylint = "*"
ipython = "*"

[packages]
falcon = "*"
gunicorn = "*"
msgpack = "*"
pytest = "*"
"boto3" = "*"
python-slugify = "*"
falcon-cors = "*"
eventlet = "*"

[scripts]
serve = "gunicorn --reload --timeout 100 --worker-class eventlet 'src.app:get_app()"

[requires]
python_version = "3.6"
